</section>

<center>
	<img src="https://img.shields.io/badge/RandomWOW-ASIC%20DED.-blueviolet">
	<img src="https://img.shields.io/badge/Low%20Emission-Certified-success">
	<img src="https://img.shields.io/badge/Jeff-Online-success">
	<img src="https://img.shields.io/badge/Safu-100%25-success">
<br>
    <a href="wownero:Wo3MWeKwtA918DU4c69hVSNgejdWFCRCuWjShRY66mJkU2Hv58eygJWDJS1MNa2Ge5M1WjUkGHuLqHkweDxwZZU42d16v94mP">
	<img src="https://img.shields.io/badge/Donate WOW-Wo3MWeKwtA918DU4c69hVSNgejdWFCRCuWjShRY66mJkU2Hv58eygJWDJS1MNa2Ge5M1WjUkGHuLqHkweDxwZZU42d16v94mP-FF00FF">
	</a>
<br>
    <a href="monero:44AFFq5kSiGBoZ4NMDwYtN18obc8AemS33DBLWs3H7otXft3XjrpDtQGv7SqSsaBYBb98uNbr2VBBEt7f2wfn3RVGQBEP3A">
	<img src="https://img.shields.io/badge/Donate XMR-44AFFq5kSiGBoZ4NMDwYtN18obc8AemS33DBLWs3H7otXft3XjrpDtQGv7SqSsaBYBb98uNbr2VBBEt7f2wfn3RVGQBEP3A-FF00FF">
    </a>
<br>
<br>
<div class="webring">
	<a href="https://www.reddit.com/r/Wownero/">
    <img src="/webring.png">
	</a>
</div>

</center>

<div class="rightbottom">
	<a href="https://github.com/wownero/">
    <img src="/hypnotoad.gif">
	</a>
</div>

</body>
</html>
