<!DOCTYPE html>
<html>
<head>
    <title>we are experiencing technical difficulties</title>

    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="/css/nes.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />

</head>
<body class="eggplant" style="">

<div class="404">

<a href="https://wowbux.org/">
<video autoplay muted loop id="myVideo">
  <source src="404.webm" type="video/webm">
</video>
</a>

</div>
</body>
</html>